body {
    font-family: DejaVu Sans, serif;
    font-size: 10pt;
}

.invoice{
    width: 100%;
    border: 2px solid black;
}

.wrapper {
    margin: 0 5px;
}

.header {
    font-size: 18pt;
    font-weight: bold;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    margin: 5px 0;
}

.footer {
    font-size: 18pt;
    font-weight: bold;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    margin: 5px 0;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

td p {
    margin: 0 10px;
}

.inner-table {
    width: 100%;
}

.columns {
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px;
    table-layout: fixed;
}

.column {
    width: 50%;
    vertical-align: top;
    border: 1px solid black;
    box-sizing: border-box;
}

.item-cell {
    vertical-align: top;
    border: 1px solid black;
    box-sizing: border-box;
}

.items {
    width: 100%;
    border-collapse: collapse;
}

.name {
    font-size: 14pt;
}

.field-label {
    font-size: 8pt;
}

.field-value {
    font-size: 16pt;
}

.description {
    font-weight: bold;
}