<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sk-SK">
<head>
    <meta charset="UTF-8">
    <title>List of invoices</title>
    <link rel="stylesheet" th:href="@{/css/list_style.css}" />
</head>
<body>
<h1>List of invoices</h1>

<div class="content-container">
    <table>
        <thead>
        <tr>
            <th>Invoice number</th>
            <th>Issuer</th>
            <th>Client</th>
            <th>Issue Date</th>
            <th>Due Date</th>
            <th>Total amount</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="invoice : ${invoices}">
            <td th:text="${invoice.invoiceNumber}"></td>
            <td th:text="${invoice.issuer.name}"></td>
            <td th:text="${invoice.client.name}"></td>
            <td th:text="${invoice.issueDate}"></td>
            <td th:text="${invoice.dueDate}"></td>
            <td th:text="${invoice.totalAmount}"></td>
            <td>
                <!-- Export do PDF -->
                <a th:href="@{invoices/export/{id}(id=${invoice.id})}" target="_blank">
                    <button>Export to PDF</button>
                </a>

                <!-- Vymazanie -->
                <form th:action="@{invoices/delete/{id}(id=${invoice.id})}" method="post" style="display:inline;">
                    <button type="submit" onclick="return confirm('Naozaj chcete vymazat tuto fakturu?');">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <br/>
    <form action="/invoices/new" method="get">
        <button type="submit">Create new invoice</button>
    </form>
</div>
</body>
</html>