<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sk-SK">
<head>
    <meta charset="UTF-8">
    <title>Zoznam faktur</title>
</head>
<body>
<h1>Zoznam faktur</h1>

<table border="1">
    <thead>
    <tr>
        <th>Cislo faktury</th>
        <th>Datum vystavenia</th>
        <th>Datum splatnosti</th>
        <th>Odberatel</th>
        <th>Vystavitel</th>
        <th>Celkova suma</th>
        <th>ID</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="invoice : ${invoices}">
        <td th:text="${invoice.invoiceNumber}"></td>
        <td th:text="${invoice.issueDate}"></td>
        <td th:text="${invoice.dueDate}"></td>
        <td th:text="${invoice.client.name}"></td>
        <td th:text="${invoice.issuer.name}"></td>
        <td th:text="${invoice.totalAmount}"></td>
        <td th:text="${invoice.id}"></td>
        <td>
            <!-- Export do PDF -->
            <a th:href="@{invoices/export/{id}(id=${invoice.id})}" target="_blank">
                <button>Export do PDF</button>
            </a>

            <!-- Vymazanie -->
            <form th:action="@{invoices/delete/{id}(id=${invoice.id})}" method="post" style="display:inline;">
                <button type="submit" onclick="return confirm('Naozaj chcete vymazat tuto fakturu?');">Vymazat</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br/>
<form action="/invoices/new" method="get">
    <button type="submit">Vytvoriť novú faktúru</button>
</form>

</body>
</html>